*,
*::after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* Sets 1 rem as 10px for layout purposes */
  box-sizing: border-box;
}

input,
select,
button,
textarea {
  font-size: inherit;
  font-family: inherit;
}

#root {
  height: 100vh;
  width: 100vw;
}
