@import '~bootstrap/scss/bootstrap';

.taskList h2 {
  display: inline-block;
}

.list-group {
  margin-bottom: 100px;

  & .list-group-item {
    display: flex;
    align-items: center;

    & .taskIcon {
      padding-right: 1rem;
    }

    & .taskTools {
      flex: 1;
      display: flex;
      justify-content: flex-end;

      & button {
        margin-left: 0.25rem;
      }
    }
  }
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #212529;
}
